{% extends 'base.html' %}
{% load static %}

{% block stylesheet%}<link rel="stylesheet" href="{% static 'css/signup.css' %}"/>{% endblock %}

{% block content %}
        <main id="signup-main">
            <div class="signup-container">
            <img src="{% static 'images/logo.png' %}" alt="ReadLi Logo" class="signup-logo">
            <h1 class="signup-title">Create an account</h1>
            <p class="signup-subtitle">Join ReadLi and start borrowing books</p>
            <form action="{% url 'signup' %}" class="signup-form" id="signup-form" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" id="first_name" name="first_name" required>
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name" required>
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" id="confirm_password" name="confirm_password" required>
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                    </div>
                </div>
                <button type="submit" class="signup-btn">Sign Up</button>
            </form>
            <p class="signup-login-link">Already have an account? <a href="{% url 'login' %}" class="login-link">Login</a></p>
            </div>
        </main>
{% endblock %}
